.container,
.want-to-try-container {
  /* max-width: 768px; */

  max-width: 1070px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.column-full {
  width: 100%;
}

#want-to-try-recipes {
  display: flex;
}

img {
  width: 100%;
  border-radius: 10px;
}
