body {
  background-color: rgb(166, 219, 166);
}

h1 {
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: center;
  color: rgb(239, 227, 171);
  text-shadow: 2px 2px 4px rgb(52, 154, 213);
}

.hidden {
  display: none;
}

form {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

select {
  padding: 5px;
  padding-right: 30px;
  border-radius: 10px;
  width: calc(100% / 4.5);
  cursor: pointer;
}

button {
  background-color: rgb(52, 154, 213);
  border-radius: 10px;
  border: 2px solid rgb(52, 154, 213);
  cursor: pointer;
}

button i {
  pointer-events: none;
}

a:hover,
.icons > i:hover {
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  margin-top: 20px;
  transition: 0.3s;
}

li {
  background-color: white;
  margin-bottom: 8px;
  border-radius: 10px;
  padding-bottom: 10px;
  margin-right: 5px;
}

dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 55%;
}

.dismiss-modal {
  transition: 0.3s;
}

.dismiss-modal:hover {
  transform: scale(1.2);
}

.search-button:hover {
  transition: 0.5s;
  transform: scale(1.2);
}

.save-button {
  background-color: white;
  border-color: rgb(52, 154, 213);
}

.save-button:hover {
  background-color: rgb(239, 227, 171);
}

div#for-bottom {
  display: flex;
  justify-content: space-between;
}

div#emojis > img {
  height: 25px;
  width: 25px;
  transition: 0.3s;
}

.trash-button {
  transition: 0.3s;
}

div#emojis > img:hover {
  cursor: pointer;
}

.icons > i:hover,
.trash-button:hover,
div#emojis > img:hover {
  transform: scale(1.2);
}

.label,
p {
  height: 100px;
}

.trash-button:hover {
  background-color: red;
  border-color: red;
}

@media (min-width: 768px) {
  .column-one-fifth {
    width: 19%;
  }

  h1 {
    font-size: 60px;
  }

  .icons {
    font-size: 60px;
  }
}
