body {
  background-color: rgb(91, 215, 118);
}

h1 {
  font-size: 60px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: center;
  color: #f7f7f7;
}

.icons {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  margin-top: 20px;
}

.hidden {
  display: none;
}

form {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

select {
  padding: 5px;
  padding-right: 30px;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .column-one-fifth {
    width: 50%;
  }

  h1 {
    font-size: 40px;
  }
}
