body {
  background-color: rgb(91, 215, 118);
}

h1 {
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: center;
  color: #f7f7f7;
  text-shadow: 2px 2px 4px rgb(52, 154, 213);
}

.hidden {
  display: none;
}

form {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

select {
  padding: 5px;
  padding-right: 30px;
  border-radius: 10px;
  width: calc(100% / 4.5);
}

button {
  background-color: rgb(52, 154, 213);
  border-radius: 10px;
  border: 2px solid rgb(52, 154, 213);
}

button :hover,
a :hover,
.icons :hover {
  cursor: pointer;
  color: white;
}

.icons {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  margin-top: 20px;
}

li {
  background-color: white;
  margin-bottom: 8px;
  border-radius: 10px;
  padding-bottom: 10px;
  margin-right: 5px;
}

dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 60%;
}

.dismiss-modal {
  cursor: pointer;
}

#save-button {
  background-color: white;
  border-color: rgb(52, 154, 213);
  justify-content: flex-end;
}

#save-button :hover {
  cursor: pointer;
  color: white;
}

a:hover {
  cursor: pointer;
}

.label {
  height: 100px;
}

@media (min-width: 768px) {
  .column-one-fifth {
    width: 19%;
  }

  h1 {
    font-size: 60px;
  }

  .icons {
    font-size: 60px;
  }
}
